
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.company{
    background-color: rgb(236, 247, 247);
    height: 471px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.company h1{
    text-align: center;
}
span{
    color:rgb(28, 207, 207)
}
.home{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    margin-top: 40px;
    width: 100%;
    align-items: center;
    height: 150vh;
    padding: 5rem;
}
.thop{
    width: 50%;
}
.pic{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.thop h1{
    font-family: "Inter",sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 73px;
    letter-spacing: 0.05em;
    color: #35B8BE;
}

.thop p{
    font-family: "Inter" ,sans-serif;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    letter-spacing: 0.05em;
    color: #00000080;
}


.pic img{
    max-width: 100%;
}

.thop button a{
    color: white;
}
.thop button{
    margin-top: 25px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(53, 184, 190, 1);
    border: none;
}
.frame{
    display: flex;
    justify-content: space-between;
    text-align: center;
    position:relative;
    bottom: 300px;
}
.rec{
    background: url('../assests/Rectangle.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.framee {
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
    align-items: center;
}

.framee h3{
    text-align: center;
}

.framee p{
    text-align: center;
}


@media screen and (max-width: 1220px) {
    
    .home {
        justify-content: center;
        height: 200vh;
        flex-direction: column;
        padding: 2rem;
    }
    .thop{
        text-align: center;
        margin: 0 auto;
        margin-bottom: 3rem;
        width: 100%;
    }
    
        .pic {
            width: 100%;
        }
    .thop h1{
        font-size: 40px;
    }
    .home .pic img {
        margin-left: 4rem;
    }
    .rec{
        height: 150vh;
    }
}