@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    height: 50vh;
    background-color: rgba(53, 184, 190, 0.1);
}
.head h2{
    text-align: center;
    padding: 5%;
    font-family: 'inter';
    font-size: 30px;
    line-height: 40px;
    text-indent: -0px;
}
.head span{
    color: #35B8BE;
}
.button{
    display: flex;
    justify-content: center;
    gap: 3%;
    margin: 3%;
    flex-wrap: wrap;
}
.button #food{
    background-color:#35B8BE;
    color: white;
}
.button button{
    text-decoration: none;
    border: 0.5px solid;
    padding: 15px 40px;
    color: black;
    border-radius: 6px;
    background-color: white;
}
.question{
    flex: 1;
    flex-direction: row;
    padding: 5% 10%;
}
.question p{
    margin: 15px;
    color: #35B8BE;
}
hr{
    margin: 15px -5px 15px 13px;
}
.plus{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}
.question img{
    width: 15px;
}
/* stlye for delivery */
.deliverys{
    flex: 1;
    flex-direction: row;
    padding: 5% 10%;
}
.deliverys p{
    margin: 15px;
    color: #35B8BE;
}
hr{
    margin: 15px -5px 15px 13px;
}
.plus{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}
.deliverys img{
    width: 15px;
}
/* style for company */

.company{
    flex: 1;
    flex-direction: row;
    padding: 5% 10%;
}
.company p{
    margin: 15px;
    color: #35B8BE;
}
hr{
    margin: 15px -5px 15px 13px;
}


.plus{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}
.company img{
    width: 15px;
}
.hidden{
    display: none;
}


@media screen and (max-width:479px){
.button{
    flex-direction: column; 
    flex-wrap: wrap;
}
.button button{
    margin: 8px;
    padding: 20px 10px;
}
}